/* body {
    background-image: url(/img/bg2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
   
} */
   
.column.header {
    display: flex;
    flex-direction: row;
}
h1.title {
    margin: 10px 20px;
} 
p.description {
    margin: 20px;
}
.card {
    height: 100%;
}
.card-footer {
    display: flex;

    position: absolute;
    bottom: 1px;
    left: 40%;
    border: none;
} 
img.img-terror{
    height: 333px;
}
.fab {
    color: red;
}
.fab:hover {
    color: rgba(18, 18, 126, 0.672);
}
/* DARK MODE */

.darkModeSwitch{
    background: black;
    color: white;
    display:flex;
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 20px;
    margin-left: 20px;
}
.darkModeSwitch span{
    width:30px;
    height:30px;
    line-height:30px;
    display:block;
    color:#fff;
    background: none;
}
.darkModeSwitch::after{
    display:block;
    background: #fffbf5;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    top:0;
    left:0;
    right:unset;
    border-radius: 3rem;
    transition: all .5s ease;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .5);
    content: "";
}
.darkModeSwitch.active{
    background: #e2e1df;
  }
.darkModeSwitch.active::after{
    left:unset;
    right:0;
  }
  body {
    background: white;
    
  }
  body.dark{
    background: black;
    background-repeat: no-repeat;
    background-size: cover;
    
    
  }
body.dark h1.title  {
        color: white;
}
body.dark p.description {
    color: white;
}

/* H3 DARKMODE  */
body.dark > div > section > div > div:nth-child(1) > div > h3 {
    color: white;
}
body.dark > div > section > div > div:nth-child(2) > div > h3 {
    color: white;
}
body.dark > div > section > div > div:nth-child(3) > div > h3 {
    color: white;
}
body.dark > div > section > div > div:nth-child(4) > div > h3 {
    color: white;
}
body.dark > div > section > div > div:nth-child(5) > div > h3 {
    color: white;
}
body.dark > div > section > div > div:nth-child(6) > div > h3 {
    color: white;
}
body.dark > div > section > div > div:nth-child(7) > div > h3 {
    color: white;
}
body.dark > div > section > div > div:nth-child(8) > div > h3 {
    color: white;
}
body.dark > div > section > div > div:nth-child(9) > div > h3 {
    color: white;
}
body.dark > div > section > div > div:nth-child(10) > div > h3 {
    color: white;
}

/* H5 DARKMODE */


body.dark > div > section > div > div:nth-child(1) > div > h5 {
    color: white;
}
body.dark > div > section > div > div:nth-child(2) > div > h5 {
    color: white;
}
body.dark > div > section > div > div:nth-child(3) > div > h5 {
    color: white;
}
body.dark > div > section > div > div:nth-child(4) > div > h5 {
    color: white;
}
body.dark > div > section > div > div:nth-child(5) > div > h5 {
    color: white;
}
body.dark > div > section > div > div:nth-child(6) > div > h5 {
    color: white;
}
body.dark > div > section > div > div:nth-child(7) > div > h5 {
    color: white;
}
body.dark > div > section > div > div:nth-child(8) > div > h5 {
    color: white;
}
body.dark > div > section > div > div:nth-child(9) > div > h5 {
    color: white;
}
body.dark > div > section > div > div:nth-child(10) > div > h5 {
    color: white;
}
/* 
BACKGROUND CARD DARKMODE */

body.dark > div > section > div > div:nth-child(1) > div {
    background-color:rgb(31, 31, 31);
    color: white;
}
body.dark > div > section > div > div:nth-child(2) > div {
    background-color:rgb(31, 31, 31);
    color: white;
}
body.dark > div > section > div > div:nth-child(3) > div {
    background-color:rgb(31, 31, 31);
    color: white;
}
body.dark > div > section > div > div:nth-child(4) > div {
    background-color:rgb(31, 31, 31);
    color: white;
}
body.dark > div > section > div > div:nth-child(5) > div {
    background-color:rgb(31, 31, 31);
    color: white;
}
body.dark > div > section > div > div:nth-child(6) > div {
    background-color:rgb(31, 31, 31);
    color: white;
}
body.dark > div > section > div > div:nth-child(7) > div {
    background-color:rgb(31, 31, 31);
    color: white;
}
body.dark > div > section > div > div:nth-child(8) > div {
    background-color:rgb(31, 31, 31);
    color: white;
}
body.dark > div > section > div > div:nth-child(9) > div {
    background-color:rgb(31, 31, 31);
    color: white;
}
body.dark > div > section > div > div:nth-child(10) > div {
    background-color:rgb(31, 31, 31);
    color: white;
}




/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .column.header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .is-rounded{
        display: flex;
        justify-content: center;
    }
    img.img-terror{
        height: auto;
    }
}
@media screen and (max-width: 1200px) {
    img.img-terror{
        height: auto;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
    img.img-terror{
        height: auto;
    }
}